<app-header></app-header>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Count</th>
    <th scope="col">Summ</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of products, let index = index">
    <th scope="row">{{index+1}}</th>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.count}}</td>
    <td>{{item.count*item.price}}</td>
  </tr>
  </tbody>
</table>
<h4>Сумма {{summ}}</h4>
<h4>Форма для заказа</h4>
<form [formGroup]="formOrder" (ngSubmit)="order()">
  <input class="form-control" type="text" formControlName="name">
  <input class="form-control" type="text" formControlName="address">
  <input class="form-control" type="text" formControlName="phone">
  <button class="btn vd_bg-green vd_white width-100" type="submit">Заказать</button>
</form>
